<button type="button" class="btn" (click)="registerModal(registerMod)">Register</button>
/
<button type="button" class="btn" (click)="loginModal(loginMod)">Login</button>

<ng-template #registerMod>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Register</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form novalidate (ngSubmit)="submitRegister(registerForm)" #registerForm="ngForm" autocomplete="off">

            <div class="form-group">
                <label>Full Name</label>
                <input class="form-control" type="text" name="fullname" #fullmame="ngModel" [(ngModel)]="model.fullname" required>
                <div class="form-control-feedback"
                    *ngIf="fullmame.errors && (fullmame.dirty || fullmame.touched)">
                   <p *ngIf="fullmame.errors.required">Full Name is required</p>
               </div>
            </div>

            <div class="form-group">

                <label for="applicant">Applicant</label>
                <input type="radio" id="applicant" name="role" #role="ngModel" [(ngModel)]="model.role" value="applicant">
                <br>
                <label for="recruiter">Recruiter</label>
                <input type="radio" id="recruiter" name="role" #role="ngModel" [(ngModel)]="model.role" value="recruiter">
            </div>

            <div class="form-group"
                [ngClass]="{
                    'has-danger': email.invalid && (email.dirty || email.touched),
                    'has-success': email.valid && (email.dirty || email.touched)
                }">
               <label>Email</label>
               <input type="email"
                      class="form-control"
                      autocomplete="off"
                      name="email"
                      [(ngModel)]="model.email"
                      required
                      pattern="[^ @]*@[^ @]*"
                      #email="ngModel">
               <div class="form-control-feedback"
                    *ngIf="email.errors && (email.dirty || email.touched)">
                   <p *ngIf="email.errors.required">Email is required</p>
                   <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
               </div>
           </div>

           <div class="form-group"
                [ngClass]="{
                    'has-danger': password.invalid && (password.dirty || password.touched),
                    'has-success': password.valid && (password.dirty || password.touched)
                }">
                <label>Password</label>
                <input type="password"
                        class="form-control"
                        autocomplete="off"
                        name="password"
                        [(ngModel)]="model.password"
                        required
                        minlength="8"
                        #password="ngModel">
                <div class="form-control-feedback"
                    *ngIf="password.errors && (password.dirty || password.touched)">
                    <p *ngIf="password.errors.required">Password is required</p>
                    <p *ngIf="password.errors.minlength">Password must be at least 8 characters long</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>

        </form>
    </div>
</ng-template>

<ng-template #loginMod>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form novalidate (ngSubmit)="submitLogin(loginForm)" #loginForm="ngForm">

            <div class="form-group"
                [ngClass]="{
                'has-danger': email.invalid && (email.dirty || email.touched),
                'has-success': email.valid && (email.dirty || email.touched)
            }">
                <label>Email</label>
                <input type="email"
                        class="form-control"
                        name="email"
                        [(ngModel)]="model.email"
                        required
                        pattern="[^ @]*@[^ @]*"
                        #email="ngModel">
                <div class="form-control-feedback"
                    *ngIf="email.errors && (email.dirty || email.touched)">
                    <p *ngIf="email.errors.required">Email is required</p>
                    <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
                </div>
            </div>

            <div class="form-group"
                [ngClass]="{
                'has-danger': password.invalid && (password.dirty || password.touched),
                'has-success': password.valid && (password.dirty || password.touched)
            }">
                <label>Password</label>
                <input type="password"
                        class="form-control"
                        name="password"
                        [(ngModel)]="model.password"
                        required
                        minlength="8"
                        #password="ngModel">
                <div class="form-control-feedback"
                    *ngIf="password.errors && (password.dirty || password.touched)">
                    <p *ngIf="password.errors.required">Password is required</p>
                    <p *ngIf="password.errors.minlength">Password must be at least 8 characters long</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>

        </form>
    </div>
</ng-template>