<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1"></div>
  <div class="col-xs-3 col-sm-3 md-3">
    Name:
  </div>
  <div class="col-xs-8 col-sm-8 md-8">
    {{recruiter.name}}
  </div>
</div>

<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1"></div>
  <div class="col-xs-3 col-sm-3 md-3">
    Description:
  </div>
  <div class="col-xs-8 col-sm-8 md-8">
    {{recruiter.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1"></div>
  <div class="col-xs-3 col-sm-3 md-3">
    Address:
  </div>
  <div class="col-xs-8 col-sm-8 md-8">
    {{recruiter}}
    <!-- {{recruiter.address.line1}} {{recruiter.address.line2}}
    {{recruiter.address.city}}
    {{recruiter.address.state}}
    {{recruiter.address.zipCode}} -->
  </div>
</div>

<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1"></div>
  <div class="col-xs-3 col-sm-3 md-3">
    Link:
  </div>
  <div class="col-xs-8 col-sm-8 md-8">
    {{recruiter.webLink}}
  </div>
</div>