  <div class="row">
    <div class="col-md-4">{{positioninfo.jobTitle}}</div>
    <div class="col-md-4">{{positioninfo.jobPositionId}}</div>
    <div class="col-md-4">{{positioninfo.closingDate}}</div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
    View More
  </button>
  <div *ngIf="isCollapsed">
    {{positioninfo.description}}
  </div>

  </div>
  
  
