<!-- <div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4">
    <h2>
      Title
    </h2>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <h2>
      Post Date
    </h2>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <h2>
      Status
    </h2>
  </div>
</div>

<div *ngFor="let pos of jobPositions">
  <div class="row">
    
    <div class="col-xs-4 col-sm-4 col-md-4">
      {{pos.title}}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      {{pos.postDate}}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      {{pos.status}}
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <jmsapp-recruiter-position-info [aPos]="pos"></jmsapp-recruiter-position-info>
          <hr>
        </div>
  </div>

</div> -->
<div style="background-color:lightcyan">
  <ngx-datatable #myTable style="height:500px" class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="50" [scrollbarV]="true" [rows]='jobPositions' (page)="onPage($event)">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="200" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:35px">
          <h3>Job Description</h3>
          <p>Job Description for job_{{ row.id }}</p>
          <button class="btn btn-primary offset-sm-4" (click)="applyJob($event)" id="{{ row.id }}">
            Apply for this position
          </button>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Title" width="100">
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <strong>{{ row.title }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Post Date" width="80">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <strong>{{ row.postDate | date: 'medium'}}</strong>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Status" width="80">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <!-- <button class="btn btn-primary" (click)="applyJob($event)" id="job_{{ row.id }}">
          Apply
        </button> -->
        <ui-switch size="small" [checked]="true" (valueChange)="onValueChange($event)"></ui-switch>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>