<div class="bkgnd shadow">
    <div class="search-bar">
        <div>
            <input [(ngModel)]="asyncSelected" [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                [typeaheadOptionsLimit]="7" typeaheadOptionField="name" placeholder="Locations loaded with timeout" class="form-control search-input">
            <div *ngIf="typeaheadLoading">Loading</div>
            <p></p>
            <span><button class="btn btn-primary" (click)="onSearch()">Search</button></span>
        </div>
    </div>



</div>