.bkgnd.shadow {
    position: relative;
    width:auto;
    height:500px;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, transparent 100%);
    background-image: url("../gethired.jpg");
    background-size:100% 100%;
}

.bkgnd.shadow.fold {
    width:auto;
    height:auto;
    margin-top: 50px;
    background-image: none;
    border: chartreuse;
}


.search-bar {
    position: relative;
    top: 50%;
    text-align: center;
    transform: perspective(1px) translateY(-50%);
}

.search-bar.fold {
    position: relative;
    text-align: left;
    transform: perspective(1px) translateY(-50%);
}

.search-input {
    position: relative;
    width: 50%;
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, transparent 100%);
}

.search-input.fold {
    width: 60%;
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, transparent 100%);
}