<!-- <div class="jobs_search_result" *ngFor="let job of jobs">

    <div class="job_info col-sm-12 card card-body" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="job_expand col-sm-1" (click)="expandJob($event)">expand</div>
      <div class="job_title col-sm-3">
        {{ job.title }}
      </div>
      <div class="job_company col-sm-3">
        {{ job.company }}
      </div>
      <div class="job_tags col-sm-3">
        {{ job.tags }}
      </div>
      <div class="apply_job col-sm-2">
        <button class="btn btn-link" (click)="applyJob($event)" id="job_{{ job.id }}">
          Apply
        </button>
      </div>
    </div>
    
  </div>

  <div class="container row col-sm-10 offset-sm-1 job_detail align-self-center card card-body " id="job_{{ job.id }}">
    <h3 class="p_title">Job Description for job_{{ job.id }}</h3>
    <div class="p_content">{{ job.descipiton }}</div>
    <div class="apply_job justify-content-center">
      <button class="btn btn-primary" (click)="applyJob($event)" id="job_{{ job.id }}">
        Apply for this position
      </button>
    </div>
  </div>

</div>  -->

<accordion *ngFor="let job of jobs">
  <accordion-group>
    <div accordion-heading class="clearfix">
      <span class="col-md-3">{{ job.title }}</span>
      <span class="col-sm-4">{{ job.company }}</span>
      <span class="col-sm-4">{{ job.tags }}</span>
      <button class="btn btn-primary col-md-2" (click)="applyJob($event)" id="job_{{ job.id }}">
          Apply
        </button>
    </div>
   
    <h3>Job Description</h3>
    <p>Job Description for job_{{ job.id }}</p>
    <button class="btn btn-primary offset-sm-6" (click)="applyJob($event)" id="job_{{ job.id }}">
      Apply for this position
    </button>
  </accordion-group>
</accordion>