<div class="modal-body row">
  <div class="col-md-4">
    <div *ngIf="!(applicant == null)">
      <jmsapp-applicant-info [applicant]="applicant"></jmsapp-applicant-info>
    </div>

  </div>
  <div class="col-md-8">
    <!-- <div *ngIf="!(positions == null)"> -->
    <tabset>
      <tab heading="Job Applied">
        <jmsapp-position [positions]="positions"></jmsapp-position>
      </tab>
      <tab heading="Job Available">
        <jmsapp-search></jmsapp-search>
      </tab>
    </tabset>

    <!-- </div> -->
  </div>
  <!-- <jmsapp-update-applicant-info></jmsapp-update-applicant-info> -->
</div>